section{
    width: 80%;
    background: rgba(255,255,255,0.5);
    margin-right: auto;
    margin-left: auto;
    margin-top: 2.3%;
    height: auto;
    padding-top:0.5%;
    padding-left: 0.5%;
    padding-right: 0.5%;
}
